

.projects-num::before {
    content: "03.";
}

#projects ul{
    padding-left: 0;
}

.project-inner-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    text-align: right;
    margin-bottom: 5em;
}
.project-picture-section {
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: start;
}

.project-inner-content:nth-child(odd) .project-picture-section {
    grid-area: 1 / 1 / -1 / 7;
}

.project-inner-content:nth-child(even) .project-picture-section {
    grid-area: 1 / -1 / -1 / 7;
}

.project-details-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    z-index: 1;

    background: #0C1A3A;
    padding: 40px 30px 40px 5.5em;
    margin-top: 3em;
    box-shadow: 8px 8px 20px -10px rgba(0,0,0,.3);
    border-radius: 12px;
}

.project-details-section:nth-child(odd) .header {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.project-details-section:nth-child(even) .header {
    align-items: start;
}


.project-inner-content:nth-child(odd) .project-details-section {
    grid-area: 1 / -1 / -1 / 6;
}

.project-inner-content:nth-child(even) .project-details-section {
    grid-area: 1 / 8 / -1 / 1;
}

.project-inner-content:nth-child(even) .project-details-section{
    justify-content: start;
    align-items: start;
    text-align: left;
    padding: 40px 5.5em 40px 30px;
}


.project-picture-section div {
    height: fit-content;
    
}

.project-picture-section img {
    position: relative;
    object-fit: contain;
    border-radius: 5px;
    /*filter: grayscale(1);*/
    z-index: 1;
    transition: .3s;
}

.project-picture-section .profile-wrapper {
    box-shadow: 0 5px 20px rgba(0,0,0,.3);
}

.project-picture-section .profile-wrapper::after {
    border-radius: 5px;
    opacity: .35;
    backdrop-filter: blur(5px);
}

.project-picture-section .profile-wrapper:hover::after {
    opacity: 0;
    backdrop-filter: blur(0);
}

.project-picture-section .profile-wrapper:hover {
    box-shadow: 0 14px 20px -10px rgba(0,0,0,.3);
}

.projects .project-upper-header {
    font-size: var(--font-size-3xs);
}

.projects .main-header-content .project-title {
    color: var(--clr-primary-white);
    font-size: var(--font-size-lg);
    letter-spacing: 0;
    transition: .3s;
}

.projects .main-header-content a {
    text-decoration: none;
}

.projects .main-header-content a:hover .project-title {
    color: var(--clr-primary-cyan);
}

.projects .project-description {
    margin: 20px 0 ;
    max-width: none;
}

.technologies-used ul {
    display: flex;
    justify-content: end;
    column-gap: 20px;
    row-gap: 10px;
    flex-wrap: wrap;
    padding: 0;
}

.project-inner-content:nth-child(even) .technologies-used ul{
    justify-content: start;
}

.technologies-used ul li {
    list-style: none;
    color: rgba(255,255,255,.4);

}

.project-links {
    display: flex;
    justify-content: end;
    position: relative;
    z-index: 1;
    gap: 20px;
    margin: 20px 0;
}

.project-links a svg:hover path{
    fill: var(--clr-primary-cyan);
}

.project-links a svg path{
    fill: rgba(255,255,255,.4);
    transition: .3s;
}

.archive-style-container {
    padding-top: 100px;
}

.archive-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.archive-title h1 {
    font-size: clamp(var(--font-size-xs), 4vw, var(--font-size-md)) ;
    margin: 0 24px;
    white-space: nowrap;
}

.vertical-line {
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3));
    border-radius: 20px;
}

.vertical-line:last-child {
    background: linear-gradient(45deg, rgba(255,255,255,.3), transparent);
}

.archive-grid {
    display: grid;
    padding: 0;
    margin: 4em 0 0;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 1em;
    row-gap: 3em;
}

.archive-folder {
    box-shadow: 0 10px 20px -10px rgba(0,0,0,.3);
    list-style: none;
    height: 100%;
    cursor: pointer;
}

.archive-folder {
    transition: all .15s ease-in-out;
}

.archive-folder:hover {
    box-shadow: 0 20px 20px -10px rgba(0,0,0,.3);
    transform: translateY(-5px);
}


.folder-wrapper {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    /*grid-area: 1 / 1 / -1 / -1;*/
    z-index: -1;
}

.folder {
    fill: #0C1A3A;
}

.folder-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    /*grid-area: 1 / 1 / -1 / -1;*/
    /*margin-top: 20px;*/
    padding: 5px 20px 30px 20px;
    background: var(--clr-primary-dark-navy-blue);
    border-radius: 0 5px 10px 10px;
    height: 100%;
}

.folder-contents::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 12px;
    min-width: 20px;
    min-height: 20px;
    background: var(--clr-primary-dark-blue);
    border-radius: 20px;
    box-shadow: inset 2px 2px 6px rgba(0,0,0,.5);
}

#archive .project-title {
    margin-top: 20px;
    font-size: var(--font-size-xs);
}

#archive .main-header-content a::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: -20px;
    left: 0;
}

.archive-folder:hover .project-title {
    color: var(--clr-primary-cyan);
}

#archive .details-content .project-description {
}

@media (max-width: 1000px) {
    .project-inner-content:nth-child(odd) .project-picture-section {
        grid-area: 1 / 1 / -1 / 6;
    }

    .project-inner-content:nth-child(odd) .project-details-section {
        grid-area: 1 / -1 / -1 / 5;
        padding-left: 4em;
    }

    .project-inner-content:nth-child(even) .project-picture-section {
        grid-area: 1 / -1 / -1 / 8;
    }

    .project-inner-content:nth-child(even) .project-details-section {
        grid-area: 1 / 9 / -1 / 1;
        padding-right: 4em;
    }
}

@media (max-width: 800px) {

    .project-inner-content:nth-child(odd) .project-picture-section {
        grid-area: 1 / 1 / -1 / 7;
    }

    .project-inner-content:nth-child(even) .project-picture-section {
        grid-area: 1 / -1 / -1 / 7;
    }
}

@media (max-width: 768px) {

    .project-inner-content .project-picture-section {
        position: relative;
        z-index: 1;
        opacity: .25;
    }

    .project-inner-content .project-details-section {
        z-index: 100;
        margin-top: 0;
        background: rgba(12, 26, 58, .5);
    }

    .project-picture-section a {
        width: auto;
        height: 100%;
    }

    .project-details-section .main-header-content a::before {
        content: "";
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .project-picture-section a img {
        height: 100%;
        object-fit: cover;
    }

    .project-inner-content:nth-child(odd) .project-picture-section {
        grid-area: 1 / 1 / -1 / -1;

    }

    .project-inner-content:nth-child(odd) .project-details-section {
        grid-area: 1 / -1 / -1 / 1;
        align-items: start;
        padding: 40px 30px;
    }

    .project-inner-content:nth-child(odd) .project-details-section .header{
        text-align: left;
        align-items: start;
    }

    .project-inner-content:nth-child(even) .project-picture-section {
        grid-area: 1 / 1 / -1 / -1;
    }

    .project-inner-content:nth-child(even) .project-details-section {
        grid-area: 1 / -1 / -1 / 1;
        padding: 40px 30px;
        justify-content: space-between;
    }

    .project-inner-content:nth-child(odd) .technologies-used ul{
        justify-content: start;
    }
}